.cards{
    position: relative;
    margin: 10%;
    padding: 1%;
    background-image: linear-gradient(to bottom right,red,black);
    border-radius: 5px;
}
.card{
    transition: 1s;
    transform-style: preserve-3d;
}
.card{
    width: 100%;
}
.card:hover{
    transform:scaleX(1.1);
}
.card{
    position:relative;
    backface-visibility: hidden;
}

img{
    width: 80%;
    height: 300px;
    border: solid white;
    border-radius: 10px;
    transition: 1s;
    margin: 1%;
}
button{
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
    width: 80%;
    border-radius: 20px;
    padding: 1%;
}