body{
    
    width: 96%;
    border: solid red;
    text-align: center;
    margin: 1%;
    padding: 1%;
    background-color: black;
}
.line{
    display:grid;
    grid-template-columns:  24% 24% 24% 24%;
    grid-gap: 1%;
    
}
