body{
    
    width: 94%;
    border: solid red;
    text-align: center;
    
    padding: 2%;
    background-color: black;
}
.line{
    display:grid;
    grid-template-columns:  50% 50%;
    grid-gap: 1%;
    
}
